@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LitLounge.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "Search";

    ViewBag.GenreNamesDropDownList = new List<SelectListItem>();
    ViewBag.GenreNamesDropDownList.Add(new SelectListItem { Text = "Any", Value = "Any" });
    for (int i = 0; i < ViewBag.Genres.Count; i++)
        ViewBag.GenreNamesDropDownList.Add(new SelectListItem { Text = ViewBag.Genres[i].Name, Value = ViewBag.Genres[i].Name });

}
@Html.Partial("_Navbar")
<form asp-action="Search" asp-controller="Book" class="row g-3" style="margin-top:50px">
    <div class="col-md-4">
        <label asp-for="BookName" class="form-label">BookName</label>
        <input asp-for="BookName" class="form-control">
        <span asp-validation-for="BookName" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Author" class="form-label">Author</label>
        <input asp-for="Author" class="form-control">
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="ISBN" class="form-label">ISBN</label>
        <input asp-for="ISBN" class="form-control">
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
    <div class="col-md-2">
        <label asp-for="PagesFrom" class="form-label">Pages</label>
        <input asp-for="PagesFrom" class="form-control" placeholder="From">
        <span asp-validation-for="PagesFrom" class="text-danger"></span>
        <input asp-for="PagesTo" class="form-control" placeholder="To">
        <span asp-validation-for="PagesTo" class="text-danger"></span>
    </div>
    <div class="col-md-2">
        <label asp-for="YearFrom" class="form-label">Year</label>
        <input asp-for="YearFrom" class="form-control" placeholder="From">
        <span asp-validation-for="YearFrom" class="text-danger"></span>
        <input asp-for="YearTo" class="form-control" placeholder="To">
        <span asp-validation-for="YearTo" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Genre" class="form-label">Genre</label>
        @Html.DropDownList("Genre", (IEnumerable<SelectListItem>)ViewBag.GenreNamesDropDownList, new { @class = "form-select"})
    </div>
    <div class="col-md-4" style="display:flex; align-items: center;">
        <input type="submit" class="btn btn-primary" value="Search" style="width:100%; padding:10px" />
    </div>
</form>
<table class="table" style="margin-top:50px">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book book in Model.Books)
        {
            <tr>
                <th scope="row" style="width: 20%"><img class="rounded table-img" src="https://book-ye.com.ua/upload/resize_cache/iblock/0c8/520_860_1/30607952_c4d8_11ed_8186_0050568ef5e6_f9440cf5_c4d8_11ed_8186_0050568ef5e6.jpg" alt="..." /></th>
                <td>@book.Name</td>
                <td>@book.Author.Name</td>
                <td class="table-20">
                    <div class="pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Go to book's page</a></div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>