@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LitLounge.styles.css" asp-append-version="true" />
</head>
<body class="d-flex justify-content-center text-center">
    <div style="width: 350px; position:absolute; top: 25%">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div>
                <div class="form-group">
                    <label class="control-label h5">Enter Email</label>
                    <input class="form-control" style="margin-top: 10px;" />
                    <span class="text-danger" />
                </div><p></p>
                <div class="form-group">
                    <label class="control-label h5">Enter Password</label>
                    <input class="form-control" style="margin-top: 10px;" />
                    <span class="text-danger" />
                </div><p></p>
                <div class="from-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</body>
